# Relatório de Análise IV

## Seleções e Frequências

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial_certo.csv', sep = ';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
23106,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
23107,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
23108,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
23109,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
23110,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [8]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'
selecao_apartamento = dados['Tipo'] == 'Apartamento'

n1 = dados[selecao_apartamento].shape[0]

print(f'Existem {n1} apartamentos no banco de dados.')

Existem 19532 apartamentos no banco de dados.

In [11]:
# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'
selecao_casas = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')

n2 = dados[selecao_casas].shape[0]

print(f'Existem {n2} casas no banco de dados.')

Existem 2212 casas no banco de dados.

In [12]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
selecao_area = (dados['Area'] >= 60) & (dados['Area'] <= 100)

n3 = dados[selecao_area].shape[0]

print(f'Existem {n3} imóveis com área entre 60 e 100 metros quadrados no banco de dados.')

Existem 8990 imóveis com área entre 60 e 100 metros quadrados no banco de dados.

In [13]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
selecao_quartos_aluguel = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)

n4 = dados[selecao_quartos_aluguel].shape[0]

print(f'Existem {n4} imóveis com pelo menos 4 quartos e aluguel menor que R$ 2.000,00 no banco de dados.')

Existem 41 imóveis com pelo menos 4 quartos e aluguel menor que R$ 2.000,00 no banco de dados.