# Criando Faixas de Valor

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,Glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,Flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

In [3]:
# Contar a quantidade de imóveis em: 1 a 2 quartos / 3 a 4 / 5 a 6 / 7 ou mais

classes = [0, 2, 4, 6, 999] #limites da quantidade em cada categoria que queremos cortar

In [8]:
quartos = pd.cut(dados['Quartos'], classes) #Corta uma fatia do dataframe
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
            ...
19826    (0.0, 2.0]
19827    (0.0, 2.0]
19828    (0.0, 2.0]
19829    (0.0, 2.0]
19830           NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 999]]

In [9]:
pd.value_counts(quartos)

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 999]       36
Name: Quartos, dtype: int64

In [10]:
labels = ['De 1 a 2 quartos', 'De 3 a 4 quartos', 'De 5 a 6 quartos', '7 quartos ou mais']

In [13]:
quartos = pd.cut(dados['Quartos'], classes, labels = labels) #Corta uma fatia do dataframe
quartos

0        De 1 a 2 quartos
1        De 1 a 2 quartos
2        De 1 a 2 quartos
3        De 1 a 2 quartos
4        De 3 a 4 quartos
               ...
19826    De 1 a 2 quartos
19827    De 1 a 2 quartos
19828    De 1 a 2 quartos
19829    De 1 a 2 quartos
19830                 NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, object): ['De 1 a 2 quartos' < 'De 3 a 4 quartos' < 'De 5 a 6 quartos' < '7 quartos ou mais']

In [14]:
pd.value_counts(quartos)

De 1 a 2 quartos     11074
De 3 a 4 quartos      8094
De 5 a 6 quartos       470
7 quartos ou mais       36
Name: Quartos, dtype: int64

In [15]:
quartos = pd.cut(dados['Quartos'], classes, labels = labels, include_lowest = True)
pd.value_counts(quartos)

De 1 a 2 quartos     11231
De 3 a 4 quartos      8094
De 5 a 6 quartos       470
7 quartos ou mais       36
Name: Quartos, dtype: int64