In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/ratings.csv')
dados

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
dados.shape

(100836, 4)

In [8]:
dados.columns = ['usuarioId', 'filmeId', 'nota', 'momento']

In [9]:
dados

        usuarioId  filmeId  nota     momento
0               1        1   4.0   964982703
1               1        3   4.0   964981247
2               1        6   4.0   964982224
3               1       47   5.0   964983815
4               1       50   5.0   964982931
...           ...      ...   ...         ...
100831        610   166534   4.0  1493848402
100832        610   168248   5.0  1493850091
100833        610   168250   5.0  1494273047
100834        610   168252   5.0  1493846352
100835        610   170875   3.0  1493846415

[100836 rows x 4 columns]

In [17]:
dados['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [18]:
dados['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [19]:
dados['nota'].mean()

3.501556983616962